<!DOCTYPE html>
<html>
<head>
    <title>Delete Student</title>
    <style>
        body {
            font-family: Arial;
            background: #f5f5f5;
            padding: 40px;
            text-align: center;
        }
        .box {
            background: white;
            padding: 20px;
            display: inline-block;
        }
        button {
            padding: 8px 15px;
            margin: 10px;
        }
    </style>
</head>
<body>

<div class="box">
    <h3>Are you sure?</h3>
    <p>
        Delete student <b>{{ student.name }}</b>
        (Roll No: {{ student.rollno }})
    </p>

    <form method="post">
        {% csrf_token %}
        <button type="submit">Yes, Delete</button>
        <a href="{% url 'student_list_ui' %}">Cancel</a>
    </form>
</div>

</body>
</html>
